<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajout nouvel employé</title>
</head>
<body>
    <form>
        <label>Prenom :
            <input type="text" name="prenom" required="required">
        </label>
        <label>Nom :
            <input type="text" name="nom" required="required">
        </label>
        <label>Prenom :
            <input type="text" name="prenom" required="required">
        </label>
        <label>Prenom :
            <input type="text" name="prenom" required="required">
        </label>
    </form>
</body>
</html>