<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion employés</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/gestionEmploye.css">
    <script src="../../js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1 class="text-center mb-5">Gestion des employés</h1>
    <div class="row">
        <div class="col-md-6 sub-container">
            <h2 class="mb-3">Ajouter un nouvel employé</h2>
            <p>Vous allez être redirigé vers un formulaire qui, une fois soumis, ajoutera un nouvel employé dans le système.</p>
            <form th:action="@{/gestion-employe/ajouter-employe}" method="get">
                <button type="submit" class="btn btn-primary btn-block">Ajouter</button>
            </form>
        </div>
        <div class="col-md-6 sub-container">
            <h2 class="mb-3">Gérer des employés</h2>
            <p>Vous allez être redirigé vers la page qui affiche tous les employés que vous pouvez gérer.</p>
            <form th:action="@{/gestion-employe/afficher-employes}" method="get">
                <button type="submit" class="btn btn-secondary btn-block">Gérer</button>
            </form>
        </div>
    </div>
    <form th:action="@{/}" method="get"> <!-- Bouton pour rediriger au menu principal -->
        <button type="submit" class="btn custom-btn">Menu principal</button>
    </form>
</div>
</body>
</html>
